/**
here you can put your own css to customize and override the theme

PENTING: Jangan pake id atau class global
*/

/* --- CSS GLOBAL --- */
.portlet-body .caption { padding:10px 0;}
.portlet-body .caption > span.caption-subject { font-size: 16px;}
.portlet-body .caption > i { display: inline-block; float: left; font-size: 15px; margin-right: 5px; margin-top: 3px; font-weight: 300;}
.ver-inline-menu{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18) !important ;}

.note.note-default { background-color: #eee;}
.note p { margin-bottom: 5px;}
.note p > i { margin-right: 3px;}

/* --- CSS BEASISWA --- */
#tblBeasiswa tr > th { background-color: #eef4f7; border-bottom: 2px solid #ddd;}
#tblBeasiswa .table-striped > tbody > tr:nth-of-type(2n) { background-color: #f9f9f9;}
#tblBeasiswa .table-striped > tbody > tr:nth-of-type(2n+1) { background-color:transparent;} 
#tblBeasiswa .accordion { margin-bottom: 0;}
#tblBeasiswa .accordion .panel .panel-heading, #tblBeasiswa .accordion .panel .panel-title .accordion-toggle {
	padding: 0;
}
 #tblBeasiswa .accordion .accordion-toggle span.name { font-weight: bolder;}
.tabBeasiswa { border:none;}
.tabBeasiswa span { display: inline-block; padding: 8px;}
.detail_beasiswa span{ font-size: 14px; }

#beasiswa_timeline .form-wizard .steps > li > a.step > .desc { padding: 0;}
#beasiswa_timeline .form-wizard .steps > li > a.step > .number { width:30px; height:30px; padding:4px; margin-right: 5px;}
#beasiswa_timeline .form-wizard .steps > li.done > a.step .number { background-color: #26a69a;}
#beasiswa_timeline .form-wizard .steps > li.active > a.step .number { background-color: #ff5722;}
#beasiswa_timeline .form-wizard .steps > li > a.step{ padding: 0;}
#beasiswa_timeline .progress { height: 5px;}
#beasiswa_timeline .form-wizard .progress { margin-bottom: 10px;}

#frmBeasiswa .form-body { border-top: 1px solid #efefef; border-bottom: 1px solid #efefef;}
#frmBeasiswa .form-bordered .form-group > div { padding:5px 10px;}
#frmBeasiswa .form-bordered .form-group .control-label { padding-top: 10px;}

@media (max-width: 767px) {
	#beasiswa_timeline .form-wizard .steps > li { width: 33.3333%; margin-left:0; float: left; }
	#beasiswa_timeline .form-wizard .steps > li > a.step {text-align: center; margin-bottom: 0;}
	#beasiswa_timeline .form-wizard .steps > li > a.step > .desc { display: block;font-size: 12px;margin-top: 5px; }
}

/* --- CSS TBQ --- */
#tblTbq tr > th { background-color: #eef4f7; border-bottom: 2px solid #ddd; vertical-align: middle;text-align: center;padding:2px 0; }
#tblTbq tr > th[rowspan] { padding: 0; }
#frmTbq > tbody> tr > td:last-child {font-weight: 600; color:#666;}
#frmTbq > tbody> tr:last-child > td{ background-color: #f5f5f5; border-bottom: 1px solid #f2f5f8;}



/*step*/

.mt-element-step .row {
 margin:0
}
.mt-element-step .step-default .mt-step-col {
 padding-top:30px;
 padding-bottom:30px;
 text-align:center
}
.mt-element-step .step-default .mt-step-number {
 font-size:26px;
 border-radius:50%!important;
 display:inline-block;
 margin:auto auto 20px;
 padding:3px 14px
}
.mt-element-step .step-default .mt-step-title {
 font-size:30px;
 font-weight:100;
}
.mt-element-step .step-default .active {
 background-color:#32c5d2!important
}
.mt-element-step .step-default .active .mt-step-number {
 color:#32c5d2!important
}
.mt-element-step .step-default .active .mt-step-content,
.mt-element-step .step-default .active .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-default .done {
 background-color:#26C281!important
}
.mt-element-step .step-default .done .mt-step-number {
 color:#26C281!important
}
.mt-element-step .step-default .done .mt-step-content,
.mt-element-step .step-default .done .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-default .error {
 background-color:#E7505A!important
}
.mt-element-step .step-default .error .mt-step-number {
 color:#E7505A!important
}
.mt-element-step .step-default .error .mt-step-content,
.mt-element-step .step-default .error .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-thin .mt-step-col {
 padding-top:10px;
 padding-bottom:10px
}
.mt-element-step .step-thin .mt-step-number {
 font-size:26px;
 border-radius:50%!important;
 float:left;
 margin:auto;
 padding:3px 14px
}
.mt-element-step .step-thin .mt-step-title {
 font-size:17px;
 font-weight:100;
 padding-left:50px;
 margin-top:-4px
}
.mt-element-step .step-thin .mt-step-content {
 padding-left:50px;
 font-size: 10px;
 margin-top:-2px
}
.mt-element-step .step-thin .active {
 background-color:#32c5d2!important
}
.mt-element-step .step-thin .active .mt-step-number {
 color:#32c5d2!important
}
.mt-element-step .step-thin .active .mt-step-content,
.mt-element-step .step-thin .active .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-thin .done {
 background-color:#26C281!important
}
.mt-element-step .step-thin .done .mt-step-number {
 color:#26C281!important
}
.mt-element-step .step-thin .done .mt-step-content,
.mt-element-step .step-thin .done .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-thin .error {
 background-color:#E7505A!important
}
.mt-element-step .step-thin .error .mt-step-number {
 color:#E7505A!important
}
.mt-element-step .step-thin .error .mt-step-content,
.mt-element-step .step-thin .error .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-background .mt-step-col {
 padding-top:30px;
 padding-bottom:30px;
 text-align:center;
 height:160px
}
.mt-element-step .step-background .mt-step-number {
 font-size:200px;
 position:absolute;
 bottom:0;
 right:0;
 line-height:.79em;
 color:#dae1e4;
 z-index:4
}
.mt-element-step .step-background .mt-step-content,
.mt-element-step .step-background .mt-step-title {
 text-align:right;
 z-index:5;
 position:relative;
 padding-right:25%
}
.mt-element-step .step-background .mt-step-title {
 font-size:30px;
 font-weight:100
}
.mt-element-step .step-background .active {
 background-color:#32c5d2!important
}
.mt-element-step .step-background .active .mt-step-number {
 color:#2ab4c0!important
}
.mt-element-step .step-background .active .mt-step-content,
.mt-element-step .step-background .active .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-background .done {
 background-color:#26C281!important
}
.mt-element-step .step-background .done .mt-step-number {
 color:#22ad73!important
}
.mt-element-step .step-background .done .mt-step-content,
.mt-element-step .step-background .done .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-background .error {
 background-color:#E7505A!important
}
.mt-element-step .step-background .error .mt-step-number {
 color:#e43a45!important
}
.mt-element-step .step-background .error .mt-step-content,
.mt-element-step .step-background .error .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-background-thin .mt-step-col {
 padding-top:15px;
 padding-bottom:15px;
 text-align:center
}
.mt-element-step .step-background-thin .mt-step-number {
 font-size:120px;
 position:absolute;
 bottom:0;
 right:0;
 line-height:.79em;
 color:#dae1e4;
 z-index:4
}
.mt-element-step .step-background-thin .mt-step-title {
 font-size:30px;
 font-weight:100;
 text-align:right;
 padding-right:25%;
 z-index:5;
 position:relative
}
.mt-element-step .step-background-thin .mt-step-content {
 text-align:right;
 position:relative;
 padding-right:25%;
 z-index:5
}
.mt-element-step .step-background-thin .active {
 background-color:#32c5d2!important
}
.mt-element-step .step-background-thin .active .mt-step-number {
 color:#2ab4c0!important
}
.mt-element-step .step-background-thin .active .mt-step-content,
.mt-element-step .step-background-thin .active .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-background-thin .done {
 background-color:#26C281!important
}
.mt-element-step .step-background-thin .done .mt-step-number {
 color:#22ad73!important
}
.mt-element-step .step-background-thin .done .mt-step-content,
.mt-element-step .step-background-thin .done .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-background-thin .error {
 background-color:#E7505A!important
}
.mt-element-step .step-background-thin .error .mt-step-number {
 color:#e43a45!important
}
.mt-element-step .step-background-thin .error .mt-step-content,
.mt-element-step .step-background-thin .error .mt-step-title {
 color:#fff!important
}
.mt-element-step .step-no-background .mt-step-col {
 padding-top:30px;
 padding-bottom:30px;
 text-align:center
}
.mt-element-step .step-no-background .mt-step-number {
 font-size:26px;
 border-radius:50%!important;
 display:inline-block;
 margin:auto auto 20px;
 padding:3px 14px;
 border:1px solid #e5e5e5
}
.mt-element-step .step-no-background .mt-step-title {
 font-size:30px;
 font-weight:100
}
.mt-element-step .step-no-background .active .mt-step-number {
 color:#32c5d2!important;
 border-color:#32c5d2!important;
 font-weight:700
}
.mt-element-step .step-no-background .active .mt-step-content,
.mt-element-step .step-no-background .active .mt-step-title {
 color:#32c5d2!important;
 font-weight:700
}
.mt-element-step .step-no-background .done .mt-step-number {
 color:#26C281!important;
 border-color:#26C281!important;
 font-weight:700
}
.mt-element-step .step-no-background .done .mt-step-content,
.mt-element-step .step-no-background .done .mt-step-title {
 color:#26C281!important;
 font-weight:700
}
.mt-element-step .step-no-background .error .mt-step-number {
 color:#E7505A!important;
 border-color:#E7505A!important;
 font-weight:700
}
.mt-element-step .step-no-background .error .mt-step-content,
.mt-element-step .step-no-background .error .mt-step-title {
 color:#E7505A!important;
 font-weight:700
}
.mt-element-step .step-no-background-thin .mt-step-col {
 padding-top:10px;
 padding-bottom:10px
}
.mt-element-step .step-no-background-thin .mt-step-number {
 font-size:26px;
 border-radius:50%!important;
 float:left;
 margin:auto;
 padding:3px 14px;
 border:1px solid #e5e5e5
}
.mt-element-step .step-no-background-thin .mt-step-title {
 font-size:24px;
 font-weight:100;
 padding-left:60px;
 margin-top:-4px
}
.mt-element-step .step-no-background-thin .mt-step-content {
 padding-left:60px;
 margin-top:-5px
}
.mt-element-step .step-no-background-thin .active .mt-step-number {
 color:#32c5d2!important;
 border-color:#32c5d2!important;
 font-weight:700
}
.mt-element-step .step-no-background-thin .active .mt-step-content,
.mt-element-step .step-no-background-thin .active .mt-step-title {
 color:#32c5d2!important;
 font-weight:700
}
.mt-element-step .step-no-background-thin .done .mt-step-number {
 color:#26C281!important;
 border-color:#26C281!important;
 font-weight:700
}
.mt-element-step .step-no-background-thin .done .mt-step-content,
.mt-element-step .step-no-background-thin .done .mt-step-title {
 color:#26C281!important;
 font-weight:700
}
.mt-element-step .step-no-background-thin .error .mt-step-number {
 color:#E7505A!important;
 border-color:#E7505A!important;
 font-weight:700
}
.mt-element-step .step-no-background-thin .error .mt-step-content,
.mt-element-step .step-no-background-thin .error .mt-step-title {
 color:#E7505A!important;
 font-weight:700
}
.mt-element-step .step-line .mt-step-col {
 padding:30px 0;
 text-align:center
}
.mt-element-step .step-line .mt-step-number {
 font-size:26px;
 border-radius:50%!important;
 display:inline-block;
 margin:auto auto 5px;
 padding:9px;
 border:3px solid #e5e5e5;
 position:relative;
 z-index:5;
 height:60px;
 width:60px;
 text-align:center
}
.mt-element-step .step-line .mt-step-number>i {
 position:relative;
 top:50%;
 transform:translateY(-120%)
}
.mt-element-step .step-line .mt-step-title {
 font-size:20px;
 font-weight:400;
 position:relative
}
.mt-element-step .step-line .mt-step-title:after,
.mt-element-step .step-line .mt-step-title:before {
 content:'';
 height:3px;
 width:50%;
 position:absolute;
 background-color:#e5e5e5;
 top:-32px;
 z-index:4;
 transform:translateY(-100%)
}
.mt-element-step .step-line .mt-step-title:after {
 left:50%
}
.mt-element-step .step-line .mt-step-title:before {
 right:50%
}
.mt-element-step .step-line .first .mt-step-title:before,
.mt-element-step .step-line .last .mt-step-title:after {
 content:none
}
.mt-element-step .step-line .active .mt-step-number {
 color:#32c5d2!important;
 border-color:#32c5d2!important
}
.mt-element-step .step-line .active .mt-step-content,
.mt-element-step .step-line .active .mt-step-title {
 color:#32c5d2!important
}
.mt-element-step .step-line .active .mt-step-title:after,
.mt-element-step .step-line .active .mt-step-title:before {
 background-color:#32c5d2
}
.mt-element-step .step-line .done .mt-step-number {
 color:#26C281!important;
 border-color:#26C281!important
}
.mt-element-step .step-line .done .mt-step-content,
.mt-element-step .step-line .done .mt-step-title {
 color:#26C281!important
}
.mt-element-step .step-line .done .mt-step-title:after,
.mt-element-step .step-line .done .mt-step-title:before {
 background-color:#26C281
}
.mt-element-step .step-line .error .mt-step-number {
 color:#E7505A!important;
 border-color:#E7505A!important
}
.mt-element-step .step-line .error .mt-step-content,
.mt-element-step .step-line .error .mt-step-title {
 color:#E7505A!important
}
.mt-element-step .step-line .error .mt-step-title:after,
.mt-element-step .step-line .error .mt-step-title:before {
 background-color:#E7505A
}
@media (max-width:991px) {
 .mt-element-step .step-line .mt-step-title:after,
 .mt-element-step .step-line .mt-step-title:before {
  content:none
 }
}


.bg-white{
	background-color: white;
}

.bg-blue-tua{
	background-color: #3742fa;
}
.bg-blue-muda{
	background-color: #4b7bec;
}

.bg-primary{
	background-color: #004473;
}

.font-secondary{
	color: #0067AE !important;
}

.bg-secondary{
	background-color: #0067AE;
}

.bg-tersiery{
	background-color: #2B83C0;
}

/*Note*/
.note {
 margin:0 0 20px;
 padding:15px 30px 15px 15px;
 border-left:5px solid #eee;
 border-radius:0 4px 4px 0
}
.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
 margin-top:0
}
.note h1 .close,
.note h2 .close,
.note h3 .close,
.note h4 .close,
.note h5 .close,
.note h6 .close {
 margin-right:-10px
}
.note p {
 margin:0
}
.note p:last-child {
 margin-bottom:0
}
.note.note-default {
 border-color:#b0c1d2;
 color:#000
}
.note.note-default.note-bordered {
 background-color:#eef1f5;
 border-color:#c0cedb
}
.note.note-default.note-shadow {
 background-color:#f1f4f7;
 border-color:#d1dbe4;
 box-shadow:5px 5px rgba(212,221,230,.2)
}
.note.note-success {
 background-color:#c0edf1;
 border-color:#58d0da;
 color:#000
}
.note.note-success.note-bordered {
 background-color:#a7e6ec;
 border-color:#6dd6df
}
.note.note-success.note-shadow {
 background-color:#abe7ed;
 border-color:#81dbe3;
 box-shadow:5px 5px rgba(134,221,228,.2)
}
.note.note-info {
 background-color:#f5f8fd;
 border-color:#8bb4e7;
 color:#010407
}
.note.note-info.note-bordered {
 background-color:#dbe8f8;
 border-color:#a0c2ec
}
.note.note-info.note-shadow {
 background-color:#e0ebf9;
 border-color:#b5cff0;
 box-shadow:5px 5px rgba(185,210,241,.2)
}
.note.note-warning {
 background-color:#faeaa9;
 border-color:#f3cc31;
 color:#000
}
.note.note-warning.note-bordered {
 background-color:#f8e38c;
 border-color:#f4d249
}
.note.note-warning.note-shadow {
 background-color:#f9e491;
 border-color:#f6d861;
 box-shadow:5px 5px rgba(246,217,102,.2)
}
.note.note-danger {
 background-color:#fef7f8;
 border-color:#f0868e;
 color:#210406
}
.note.note-danger.note-bordered {
 background-color:#fbdcde;
 border-color:#f39da3
}
.note.note-danger.note-shadow {
 background-color:#fbe1e3;
 border-color:#f6b3b8;
 box-shadow:5px 5px rgba(246,184,189,.2)
}

/*end note*/